@charset "utf-8";

/* html {}

body {} */

/* header */
header {
    background: #186AC9;
    height: 7em;
}

.title-header {
    text-align: center;
    padding-top: 8em;
}

.title1 {
    color: #FFFFFF;
    font-size: 5em;
    margin-top: -2%;
}

.title2 {
    color: #FFFFFF;
    font-size: 3em;
}

#logout-container {
    /* position: relative; */
    /* z-index: -1; */
}

#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #FFFF00 10%, #186AC9 100%);
    /* background-color: #ccd8ff; */
}

.register-form {
    width: 20em;
    height: 100px;
    margin: 0 auto;
    height: 100vh;
    border-radius: 1em;
    color: #FFFFFF;
}

.logout-text {
    text-align: center;
    margin: 2em auto;
}

.alert-danger li {
    margin-bottom: 3%;
    text-align: center;
}

.logout-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    /* position: absolute; */
    /* top: 5%; */
    /* padding: 0 2%; */
}

.label {
    margin-left: 1.5em;
    margin-bottom: 0.3em;
}

.logout-form {
    display: flex;
    align-items: center;
    border-radius: 0.8em;
    border-width: 0.1em;
    height: 2.5em;
    width: 20em;
    margin: 0 auto;
    margin-bottom: 2.5em;
}

.first-btn {
    background-color: #FF0066;
    color: white;
    height: 2em;
    width: 7em;
    border-radius: 0.6em;
    margin-left: 4em;
    font-size: 1.3em;
    border: none;
    cursor: pointer;
}

.clear {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 -1.5em;
    padding-bottom: 1.5em;
}

.welcome {
    font-weight: bold;
    font-size: 1.3em;
    margin: 10% auto;
}

.complete {
    font-size: 1.3em;
}

.welcome-btn {
    background-color: #FF0066;
    color: white;
    height: 2em;
    width: 7em;
    border-radius: 0.6em;
    font-size: 1.3em;
    border: none;
    margin-top: 2em;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}

.logo {
    width: 40%;
    margin-left: 1em;
    margin-top: 0.7em;
}


.user-info {
    position: absolute;
    right: 5%;
    display: flex;
    align-items: center;
}

#container {
    /* position: relative; */
    flex: 0 0 80%;
    margin: 0 auto;
}

.Icon {
    position: absolute;
    right: 2%;
    margin-left: 10px;
}

.menu-container {
    position: relative;
    /* right: 80px; */
    display: inline-block;
}

.menu-list {
    display: none;
    /* 初期状態ではメニューを非表示にする */
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    position: absolute;
    top: 12.2%;
    right: 0;
    height: 26.5%;
    width: 20%;
}

.menu-list li a {
    display: block;
    padding: 0.6em;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.8rem;
    border: 1px solid blue;
}

.menu-list li a:hover {
    background-color: blue;
    color: white;

}

.toggle-menu {
    position: absolute;
    right: 8%;
    top: 4%;
    cursor: pointer;
    /* クリック可能なカーソルを指定 */
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

/* アップ矢印のスタイル */
.toggle-menu.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.sideIcon {
    width: 4%;
    margin-top: 1em;
    margin-right: 2em;

}

.head-container {
    display: flex;
    border-bottom: 10px solid #ccc;
    padding-bottom: 2%;
    /* height: 25%; */
}

.post-img {
    border-radius: 5px;
    width: 6%;
    /* height: 8%; */
    margin-top: 1vh;
    display: block;
    margin-left: auto;
    margin-right: 15%;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#side-bar {
    flex: 0 0 20%;
    /* display: flex; */
    /* flex: 1; */
    /* height: 0%; */
    /* max-width: 20%; */
    /* margin-left: auto; */
    border-left: 1px solid #727272;
}

#confirm {
    border-bottom: 3px solid #ccc;
    /* padding-bottom: 15%; */
    padding: 5% 7% 12% 7%;
}

.btn-primary.follow-button {
    /* margin-left: 58%; */
    width: 9.1vw;
    height: 5vh;
    margin: 5% 0 5% 50%;
    padding: 0%;

}

.btn-primary.follower-button {
    /* margin-left: 58%; */
    width: 9.1vw;
    height: 5vh;
    margin: 5% 0 5% 50%;
    padding: 0%;
}

.btn-primary.search-button {
    margin: 10% 28%;
    width: 45%;
    height: 5vh;
    /* display: flex;
    justify-content: center; */
}

.btn-primary a {
    color: white;
    font-size: 0.9em;
}

.white-bold-text {
    position: absolute;
    right: 10%;
    top: 4%;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.create-form {
    width: 100%;
}

/* フォームコントロールのスタイル */
.post-form {
    border: none;
    /* 枠線を無しにする */
    background-color: transparent;
    /* 背景色を透明にする */
    width: 60vw;
    /* 幅を指定（適宜調整してください） */
    font-size: 1.5rem;
    /* フォントサイズを指定 */
    color: #555;
    /* テキストの色を指定 */
    outline: none;
    /* クリック時のフォーカス線を無しにする */
    margin-left: 3vw;
    margin-top: 8vh;
    opacity: 0.5;
}

.post-form:focus::placeholder {
    color: transparent;
}

.userIcon {
    margin-left: 10vw;
    margin-top: 3vh;
    width: 6%;
    height: 6%;
}

.form-control {
    margin: -1vw auto;
}

/* placeholderの文字のスタイル */
.form-control::placeholder {
    color: #ccc;
    /* 薄っすら表示する色を指定 */
}

/* 入力時のカーソルのスタイル */
.form-control:focus {
    outline: none;
}

.post-content {
    border-bottom: 3px solid #ccc;
    display: flex;
    padding-bottom: 1%;
}


.fw-box {
    border-bottom: 3px solid #ccc;
    /* height: 30%; */
    display: flex;
}

.follow-postIcon {
    margin-left: 10vw;
    margin-top: 4%;
    width: 5vw;
}

.fw-username {
    font-weight: 600;
    /* margin-left: 13%; */
    /* margin-top: -5%; */
}

.fw-timestamp {
    margin-left: auto;
    /* margin-right: -4%; */
    /* display: block; */
    width: 13%;
    /* margin-top: -3.5%; */
}

.postIcon {
    /* position: absolute; */
    margin-left: 10%;
    margin-top: 1%;
    width: 5%;
    height: 5%;
}

.namepost {
    display: flex;
    flex-direction: column;
}

.post {
    margin-left: 15%;
    width: 100%;
    margin-top: 5%;
}

.username {
    font-weight: 600;
    margin-left: 15%;
    margin-top: 5%;
}

.test3 {
    margin-left: auto;
}

.timestamp {
    margin-left: -10%;
    margin-top: 3%;
}

.test2 {
    display: flex;
    margin-top: 20%;
}

.js-modal-open {
    width: 2vw;
    height: 4vh;
    margin-left: 15%;
}

.search-name {
    font-weight: 500;
    font-size: 1.5rem;
    margin-right: 35%;
}

.edit-btn {
    right: 35px;
}

.test4 {
    width: 2vw;
    height: 2vw;
    margin-left: 20%;
}

.dlt-btn {
    width: 100%;
    height: 100%;
    background: url('../images/trash.png');
    background-size: 100% 100%;
    border: none;
}

.dlt-btn:hover {
    width: 100%;
    height: 100%;
    background: url('../images/trash-h.png');
    background-size: 100% 100%;
    border: none;
}

.edit-img {
    width: 2vw;
}


/* Atlas参考 .modal__contentまで */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.2);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 1%;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 27%;
}

#modal_post {
    width: 100%;
    height: 22vh;
    font-size: 2.5em;
}

.update-btn {
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.js-modal-close {
    /* background-color: rgba(0, 0, 0, 0.8); */
    position: absolute;
    /* left: 20px; */
    /* bottom: 20px; */
    font-size: 2em;
}

.search-container {
    margin-top: 12%;
    margin-left: -5%;
    border-bottom: 0.7rem solid #ccc;
    width: 114.5%;
}

.search-box {
    margin-left: 13%;
    margin-top: 4%;
    display: flex;
    align-items: center;
}

.search-form {
    /* margin-top: 20%; */
    /* margin-left: 30%; */
    width: 20vw;
    height: 2.5vw;
    border-radius: 0.3em;
    outline: none;
    background-color: transparent;
    opacity: 0.5;
    padding-left: 2%;
}

.search-btn {
    width: 3vw;
    height: 3hw;
    border-radius: 0.5em;
    margin-left: 5%;
}

.search-word {
    font-size: 1.5rem;
    margin-left: 5%;
    margin-top: 5%;
}

.search {
    display: flex;
    margin: 10vh auto;
    width: 45%;
    justify-content: space-around;
}

.fw-container {
    display: flex;
    border-bottom: 10px solid #ccc;
    padding-bottom: 2%;
    height: 15vh;
}

.list-title {
    margin-left: 5%;
    margin-top: 2%;
}

.fw-head {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-top: 2%;
}

.fw-Icon {
    width: 4em;
    height: 4em;
    margin-right: 1em;
    margin-left: 15%;
}


.fw-userIcon {
    width: 5%;
    height: 5%;
    margin-top: 1%;
    margin-left: 10%;
}

.fw-block {
    margin-left: 2%;
    margin-top: 1%;
}

.fw-post {
    /* flex-direction: column; */
    /* margin-left: 15%; */
    /* margin-top: 2%; */
}

.btn.btn-danger {
    height: 5vh;
    width: 9vw;
    border-radius: 0.5rem;
    font-size: 1.2em;
    padding: 0%;
}

.follow-btn {
    background-color: #00BFFF;
    color: white;
    height: 5vh;
    width: 9vw;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.searchIcon {
    width: 10%;
}

.profile-content {
    width: 100%;
}

.profile {
    margin-top: 4%;
    margin-left: 3%;
}

.pro-flex {
    display: flex;
}

.pro-item {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.pro-text {
    margin-left: 10%;
    margin-top: 0.5%;
    font-size: 1.3em;
    font-weight: 500;
}

.pro-btn {
    margin-left: auto;
    margin-right: 5%;
}

.pro-follow-btn {
    background-color: #66ccff;
    color: white;
    height: 5vh;
    width: 9vw;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
}

/* .btn.pro-btn-danger {} */


.user-profile {
    width: 100%;
    height: 35%;
    border-bottom: 2px solid #ccc;
    display: flex;
}

.propost-Icon {
    width: 4em;
    height: 4em;
    margin-left: 13%;
    margin-top: 2%;
}

.pro-block {
    margin-top: 3%;
    margin-left: 3%;
}

.propost-name {
    left: 18%;
    top: 25%;
    font-size: 1em;
}

.propost-post {
    left: 20%;
    bottom: 15%;
}

.propost-time {
    margin-left: auto;
    margin-right: 2%;
    margin-top: 1%;
}

.myprofile {
    display: flex;
    justify-content: center;
    height: 110%;
    margin-top: 5%;
}

.proIcon {
    width: 4rem;
    height: 4rem;
    margin-left: 10%;
}

.myform {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 65%;
}

.my-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1.8em;
}

.form {
    display: flex;
    margin-bottom: 5%;
}

.form label {
    width: 42%;
    margin-right: -4%;
    margin-left: 6%;
}

.form input {
    width: 50%;
}

.btn.btn-danger.myupdate {
    margin-left: 35%;
    font-size: 1em;
}

.myinput.none:focus::placeholder {
    color: transparent;
}
