@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info {
    position: absolute;
    right: 5%;
    display: flex;
    align-items: center;
}

.Icon {
    position: absolute;
    right: 2%;
    margin-left: 10px;
}

.menu-container {
    position: relative;
    /* right: 80px; */
    display: inline-block;
}

.menu-list {
    display: none;
    /* 初期状態ではメニューを非表示にする */
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    position: absolute;
    top: 18.5%;
    right: 0;
}

.menu-list li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
}

.toggle-menu {
    position: absolute;
    right: 8%;
    cursor: pointer;
    /* クリック可能なカーソルを指定 */
    color: white;
    font-weight: bold;
}

/* アップ矢印のスタイル */
.toggle-menu.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.post-img {
    border-radius: 5px;
    width: 70px;
    height: 70px;
    margin-left: 42vw;
    /* margin-top: 17vh; */
}

/* main content */
#row {
    display: flex;
}

.container {
    display: flex;
    border-bottom: 10px solid #ccc;
    padding-bottom: 30px;
}

#side-bar {
    flex: 0 0 20%;
    margin-left: auto;
    border-left: 1px solid #727272;
}

.white-bold-text {
    position: absolute;
    right: 10%;
    color: white;
    font-weight: bold;
}


/* フォームコントロールのスタイル */
.post-form {
    border: none;
    /* 枠線を無しにする */
    background-color: transparent;
    /* 背景色を透明にする */
    width: 40%;
    /* 幅を指定（適宜調整してください） */
    font-size: 27px;
    /* フォントサイズを指定 */
    color: #555;
    /* テキストの色を指定 */
    outline: none;
    /* クリック時のフォーカス線を無しにする */
    margin-left: 3vw;
    margin-top: 15vh;
    opacity: 0.5;
}

.post-form:focus::placeholder {
    color: transparent;
}

.postIcon {
    margin-left: 10vw;
    margin-top: 10vh;
    width: auto;
    height: 85px;
}

/* placeholderの文字のスタイル */
.form-control::placeholder {
    color: #ccc;
    /* 薄っすら表示する色を指定 */
}

/* 入力時のカーソルのスタイル */
.form-control:focus {
    outline: none;
}

.post-content {
    position: relative;
}

.username,
.post {
    display: block;
}

.username {
    margin-left: 15vw;
    margin-top: -9vh;
    font-weight: 600;

}

.post {
    margin-left: 16vw;
    margin-top: 3vh;
}

.edit-btn {
    position: absolute;
    right: 35px;
}

/* qiitaサイト参照 */
.dlt-btn-container {
    position: absolute;
    text-align: right;
}

.dlt-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    /* position: relative; */
    display: inline-block;
}

.normal-img {
    display: block;
    position: absolute;
    right: -25px;
    bottom: 5px;
}

.hover-img {
    display: none;
    position: absolute;
    right: -25px;
    bottom: 5px;
}

.dlt-btn:hover .normal-img {
    display: none
}

.dlt-btn:hover .hover-img {
    display: block;
}

.edit-img {
    position: absolute;
    right: 30px;
    bottom: 4px;
}


/* Atlas参考 .modal__contentまで */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 60%;
    padding: 15px;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 60%;
}

#modal_post {
    width: 100%;
    height: 200px;
    font-size: 35px;
}

.update-btn {
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.js-modal-close {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 35px;
}
